@import "normalize.css";
@import "fonts.css";

html {
    font-family: Titillium;
}
header {
    border-bottom: 1px solid silver;
}
header > h1, body > p, body > main, body > nav, footer > address, footer > p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-top: .25rem;
    padding: .5rem;
}
h1 {
    color: #648ff1;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
nav {
    text-align: right;
    font-weight: bold;
}
nav.internal {
    text-align: left;
    font-weight: normal;
}
main {
    margin-top: 50px;
}
a {
    color: #648ff1;
    text-decoration: underline #84df5d;
}
a:hover {
    color: #84df5d;
    text-decoration: underline #648ff1;
}
h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
    border-left: 15px solid #648ff1;
    padding-left: 5px;
    margin-left: -20px;
}
h2 a, h3 a {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 300;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 20px;
}
footer {
    background: #648ff1;
    color: white;
    margin-top: 100px;
}
footer > p {
    margin-bottom: 0;
    text-align: right;
}
footer a, footer a:visited, footer a:focus, footer a:hover {
    color: white;
    font-weight: bold;
}
@media (max-width: 840px) {
    header > h1, body > p, body > nav, body > main, body > section, footer > p {
        margin-left: 20px;
        margin-right: 20px;
    }    
}
.acl {
    font-size: 0.8em;
    font-variant: small-caps;
    background-color: #ddd;
    border-radius: 5px;
}

.targetable h2 a,
.targetable h3 a,
.targetable h4 a,
.targetable h5 a,
.targetable h6 a {
    opacity: 0;
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 300;
    transition: .25s opacity linear;
}

.targetable section:hover > h2 a,
.targetable section:hover > h3 a,
.targetable section:hover > h4 a,
.targetable section:hover > h5 a,
.targetable section:hover > h6 a {
    opacity: 1;
}

.targetable :target {
    animation-duration: 2s;
    animation-name: highlight;
}

@keyframes highlight {
    0%, 50% {
        box-shadow: 0 0 4rem #648ff1;
    }
    to {
        box-shadow: none;
    }
}
